  <h1 class="text-center mb-5">フィールドカードの入力</h1>
  <%= form_with url: result_span_path, method: :post do |f| %>
  <%= f.label "card_1[]","フロップカードの情報を入力してください",class:"white-text"%>
  <%= f.select "card_1[]", [["ハート","g"],["ダイヤ","h"],["クラブ","i"],["スペード","j"]] %>
  <%= f.select "card_1[]", [["A","1"],["K","d"],["Q","c"],["J","b"],["T","a"],[9,"9"],[8,"8"],[7,"7"],[6,"6"],[5,"5"],[4,"4"],[3,"3"],[2,"2"]]%>
  <br>
  <%= f.label "card_1[]","フロップカードの情報を入力してください",class:"white-text"%>
  <%= f.select "card_2[]", [["ハート","g"],["ダイヤ","h"],["クラブ","i"],["スペード","j"]]%>
  <%= f.select "card_2[]", [["A","1"],["K","d"],["Q","c"],["J","b"],["T","a"],[9,"9"],[8,"8"],[7,"7"],[6,"6"],[5,"5"],[4,"4"],[3,"3"],[2,"2"]],selected: "d"%>
  <br>
  <%= f.label "card_1[]","フロップカードの情報を入力してください",class:"white-text"%>
  <%= f.select "card_3[]", [["ハート","g"],["ダイヤ","h"],["クラブ","i"],["スペード","j"]]%>
  <%= f.select "card_3[]", [["A","1"],["K","d"],["Q","c"],["J","b"],["T","a"],[9,"9"],[8,"8"],[7,"7"],[6,"6"],[5,"5"],[4,"4"],[3,"3"],[2,"2"]],selected: "c"%>
  <br>
  <%= f.label "card_1[]","ターンカードの情報を入力してください",class:"white-text"%>
  <%= f.select "card_4[]", [["ターンカードは含めない","z"],["ハート","g"],["ダイヤ","h"],["クラブ","i"],["スペード","j"]]%>
  <%= f.select "card_4[]", [["ターンカードは含めない","z"],["A","1"],["K","d"],["Q","c"],["J","b"],["T","a"],[9,"9"],[8,"8"],[7,"7"],[6,"6"],[5,"5"],[4,"4"],[3,"3"],[2,"2"]]%>
  <br>
  <%= f.label "card_1[]","リバーカードの情報を入力してください",class:"white-text"%>
  <%= f.select "card_5[]", [["リバーカードは含めない","z"],["ハート","g"],["ダイヤ","h"],["クラブ","i"],["スペード","j"]]%>
  <%= f.select "card_5[]", [["リバーカードは含めない","z"],["A","1"],["K","d"],["Q","c"],["J","b"],["T","a"],[9,"9"],[8,"8"],[7,"7"],[6,"6"],[5,"5"],[4,"4"],[3,"3"],[2,"2"]]%>
  <br>
  <%= f.submit "計算する",class: "btn btn-primary" %>
<% end %>

